:root {
  --blue: #789dee;
  --white: #ffffff;
  --black: #000000;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}

body {
  background: var(--bg);
  font-family: monospace;
}

.light-theme {
  --bg: var(--blue);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--blue);
  --btnBg: var(--blue);
  --btnFontColor: var(--black);
}

.bdn {
  margin: 0 auto;
  display: block;
  height: 10rem;
  width: 10rem;
  border-radius: 5%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large
}

.bdn:focus {
  outline-style: none;
}