:root {
  --blue: #789dee;
  --black: #000000;
}

* {
  color: var(--fontColor);
  font-family: helvetica;
}

body {
  background: var(--bg);
  font-family: monospace;
}

.light-theme {
  --bg: var(--blue);
  --fontColor: var(--black);

}

.dark-theme {
  --bg: var(--black);
  --fontColor: var(--blue);
}


.middle {
  margin: 0 auto;
  display: block;
  width: 13rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large
}
